name: CI - Run Pytest
run-name: ${{ github.actor }} is testing the API
on: [push, pull_request]
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Set up Python version
          uses: actions/setup-python@v4
          with:
            python-version: '3.11'

        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install -r requirements-dev.txt
            pip install pytest pytest-cov

        - name: Run tests with Pytest
          run: |
            pytest --verbose --cov=src --cov-report=xml tests/

        - name: Upload coverage report to GitHub
          uses: actions/upload-artifact@v4
          with:
            name: coverage-report
            path: coverage.xml
